// font family mixin
@mixin button {
  background-color: darken($tomato, 5%);
  border: 2px solid $jasper-2;
  border-radius: 1rem;
  height: 4rem;
  padding: 1rem;
  color: $rich-black;
  font-size: 1.25rem;
  filter: drop-shadow(0 0 0.125rem $jasper-2);
  &:hover {
    background-color: darken($tomato, 10%);
  }
}
@mixin buttonDark {
  background-color: $moonstone;
  border: 2px solid $blue-munsell;
  color: $champagne-pink;
  filter: drop-shadow(0 0 0.125rem $blue-munsell);
  &:hover {
    background-color: darken($moonstone, 5%);
  }
}

@mixin containerBorder($color) {
  border: 2px solid $color;
  border-radius: 1rem;
  box-shadow: 0px 0px 4px $color;
}
