// light mode colors
/* SCSS HEX */
$lemon-chiffon: #FBF5D0ff;
$jasper: #BF6652ff;
$jasper-2: #E06553ff;
$rich-black: #021E2Bff;
$tomato: #FB613Bff;

//dark mode colors
/* SCSS HEX */
$oxford-blue: #03082Bff;
$blue-munsell: #2B829Aff;
$champagne-pink: #F8E5DCff;
$moonstone: #2EA8C0ff;
$blue-munsell-2: #2C9AADff;
