@import "partials/variables";
// * {
//   outline: 1px solid red;
// }
.hide {
  display: none;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  .quiz-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    .quiz-question {
      min-height: 10rem;
      max-width: 20rem;
    }
    .quiz-answers {
      max-width: 20rem;
      display: flex;
      flex-direction: column;
    }
    .quiz-btns {
      max-width: 20rem;
    }
  }
}
