@import "partials/variables";
@import "partials/mixins";
@import "partials/global";
@import "partials/dark-mode";

//layout and positioning styles
main {
  display: flex;
  justify-content: center;
  align-items: center;
  .quiz-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    .quiz-question {
      padding: 1rem;
      min-height: 10rem;
      max-width: 20rem;
      text-align: center;
      button {
        margin-bottom: 1rem;
      }
    }
    .quiz-answers {
      max-width: 20rem;
      display: flex;
      flex-direction: column;
      .options-container {
        margin-bottom: 0.25rem;
      }
    }
    .quiz-btns {
      max-width: 20rem;
    }
  }
}
